<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="wrapper">
        <header><nav>
            <ul class="horizontal">
                <li class="item"></li>
            </ul>
        </nav></header>
        <div name="updateBar" class="">
            <div id="loginSection" class="rounded">
                <form method="POST" action="/login">
                    <input type="hidden" name="_csrf" value=<%= csrfToken %> />
                    <span class="form-label">Username:</span>
                    <input type="text" name="username" placeholder="Username" class="form-input" id="userName">
                    <span class="form-label">Password:</span>
                    <input type="text" name="password" placeholder="Password" class="form-input" id="password">
                    <input type="submit" name="submit" value="Login" class="form-submit">
                </form>
            </div>
        </div>
        <div id="main">
            
        </div>    
    </div>
  </body>
</html>
